<div class="section" ng-if="data.data">
  <h1 class="text-center text-primary mb-5" style="font-size: 32px">
    {{ data.name }}
  </h1>

  <form action="" ng-submit="handleSubmit($event)">
    <div ng-repeat="item in data.data" class="shadow mb-3 question">
      <h4 class="mb-3">Question {{ $index+1 }}: {{ item.question }}</h4>
      <div id="answers" ng-repeat="(key,answer) in item.answers">
        <label for="" class="d-flex gap-2" ng-if="answer!=null">
          <input
            type="checkbox"
            class="form-checkbox"
            ng-model="question_1"
            value="{{ key }}"
            id=""
          />
          {{ answer }}
        </label>
      </div>
    </div>
    <button type="submit" class="button">Submit</button>
  </form>
</div>

<style>
  .question {
    background: rgba(30, 41, 59, 0.4);
    border-radius: 20px;
    padding: 30px;
    cursor: pointer;
  }

  .question:hover {
    background: rgba(30, 41, 59, 0.7);
  }
</style>
